	@model  YellowPages.Models.ViewModel.AnuncioViewEmpres



<style>

	.contenedor
	{
	 border-radius:15px;
	 white-auto;
	 height:530px;
	 background:#F7BE33;
	 margin-bottom:20px;
	 display:grid;
	 grid-template-areas:
	 "header1 header2 header3"
	 "main main main"
	 "fouter fouter fouter";
	 grid-gap:5px;
	 grid-template-columns: 205px 410px 270px;
	 grid-template-rows: 200px 200px 100px;

	}
	.conteiner div
	{
	border-radius:10px;


	}
	.header1{
		background:#F7BE33;
		grid-area:header1;
		margin-top:20px;
		/*height:200px;
		width:200px;*/
		border-radius:20px;



	}
	.header2{
		background:#F7BE33;
		grid-area:header2;
		margin-top:20px;
		border-radius:20px;
		/*height:200px;*/




	}
	.header3{
		background:#F7BE33;
		grid-area:header3;
		margin-top:20px;
		/*height:200px;*/
		border-radius:20px;
		/*width:400px;*/
		/*justify-self: end;*/
	}

	.fouterItem{
		background:#F7BE33;
		border-margin:20px;
		border-radius:20px;
		grid-area:fouter;
	}

	.mainItem{
		background:#F7BE33;
		grid-area:main;
		border-radius:20px;
	}

</style>


<div class="row">
	<div class="col-1">
	</div>
	<div class="col-10 contenedor">
		<div class="header1">
			<img class="img-fluid" src="@Url.Action("ByteConvertImagen","Home", new {id = Model.EmpresaID})" />
		</div>
		<div class="header2">
			<p style="font-weight:bold;" class="text-black text-lefth">
				@Model.Departamento -  @Model.Municipio <br/>
				@Model.Empresa<br/>
				<br/>
				@Model.Direccion <br/>
				@Model.DireccionWeb
			</p>
		</div>
		<div class="header3 ">
			<img class="img-fluid" src="@Url.Action("ByteConvertImagen2","Home", new {id = Model.EmpresaID})" />
		</div>
		<div class="mainItem">
			<p style="font-weight:bold;" class="text-black text-lefth">
				@Model.Description <br/>
				<br/>
				@Model.DescripcionTwo
            </p>
		</div>
		<div class="fouterItem">
			<p style="font-weight:bold;" >
			  telephono: @Model.Contacto1
			</p>
			<p style="font-weight:bold;">
			  Correo: @Model.Contacto2
			</p>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>


